.main {
    display: flex;
    padding-top: 10px;
    height: 500px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.main__img {
    margin-left:auto;
    margin-right:0;
    height: 500px;
    width: 300px;
}

.main__content {
    margin-left: 50px;
    margin-top: 150px;
}

.main__contentTitle {
    font-family: 'Assistant', sans-serif;
    font-size: 2em;
    text-align: left;
    width: 400px;
    margin-bottom: 20px;
    color: rgb(28, 34, 66);
}

.main__contentText {
    width: 700px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    color: rgb(28, 34, 66);

}