*{
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    font-family: 'Assistant', sans-serif;
    min-width: 1200px;
    background-color: rgb(222, 222, 222);
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.header__title {
    padding-left: 50px;
    display: flex;
}
.header__titleLogo {
    padding-top: 7px;
    margin-left: 5px;
    text-decoration: none;
    color: rgb(28, 34, 66);

}

.header__titleLogo:hover {
    color: rgb(255, 136, 0);
}

.header__titleSquare{
    margin-top: 10px;
    height: 15px;
    width: 15px;
    background-color: rgb(28, 34, 66);
    border-radius: 2px;
}

.header__setLink {
    margin: 7px;
    position: relative;
    margin-left:auto;
    margin-right:0;
}

.header__link {
    margin-left: 20px;
    margin-right: 20px;
    color: rgb(28, 34, 66);
    text-decoration: none;
}

.header__link:hover {
    color: rgb(255, 136, 0);
}